* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Varela Round", serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#281EFF 0%, #2DFF8C 100%) no-repeat;
    color: white;
    text-align: center;
}

h1 {
    top: 337px;
    left: 582px;
    width: 755px;
    height: 204px;
    text-align: left;
    font: normal normal normal 160px/231px Satisfy;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 36px #00000087;
    opacity: 1;
}

h2 {
    text-align: center;
    font: normal normal normal 26px/38px Varela Round;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
}

.form-row {
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

label {
    margin: 0;
    display: block;
    text-align: right;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    padding: 6px 70px;
    background: #F6F6F624 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px 60px;
    background-color: #fff;
    border: none;
    color: #070707;
    font-family: Varela Round, regular;
    font-size: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #f0f0f0;
}